scipy==1.5.3
numpy==1.19.4
python-levenshtein==0.12.2
torch==1.7.1
torchelastic==0.2.0
visdom==0.1.8.9
wget==3.2
librosa==0.7.2
numba==0.43.0
llvmlite==0.32.1
tqdm==4.47.0
matplotlib==3.3.1
flask==1.1.2
sox==1.4.0
pandas==1.1.4
scikit-learn==0.23.2
comet-ml==3.8.1
pytorch-lightning==1.0.4
pydub
torchaudio==0.7.0
jupyterlab==3.0.17
jupyter-http-over-ws==0.0.8
tornado==6.1